* {
    font-family: Poppins;
}

.nav {
    background-color: #1D0033;
}

.hero {
    background-color: #1D0033;
}

.nav-link {
    text-decoration: none;
    color: #F9C7DD;
}

.btn {
    background-color: #F9C7DD;
    color: #1D0033;
    border: none;
}

.nav-link:hover {
    color: #F9C7DD;
}

.btn-link {
    background-color: transparent;
    color: black;
}

.btn-primary:hover {
    background-color: #1D0033;
    color: #F9C7DD;
}

footer {
    text-decoration: none;
}

.footeritem {
    color: black;
    justify-content: space-evenly;
    text-decoration: none;
}

.testimonials {
    display: inline-flex;
    justify-content: space-between;
}

.testimonials-title {
    background-color: #1D0033;
    color: #F9C7DD;
    height: 70px;
}

.center {
    text-align: center;
    font-size: 19px;
}